<form>
  <div class="form-group">
    <label for="username">Username</label>
    <input [(ngModel)]="username" name="username" type="text">
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input [(ngModel)]="email" name="email" type="email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input [(ngModel)]="password" name="password" type="password">
  </div>
  <div class="form-group">
    <label for="passwordConfirmation">Password Confirmation</label>
    <input [(ngModel)]="passwordConfirmation" name="passwordConfirmation" type="password">
  </div>
  <div class="form-group">
    <label for="twoFactorAuthentication">Enable 2FA</label>
    <input [(ngModel)]="twoFactorAuthentication" name="twoFactorAuthentication" type="checkbox">
  </div>
  <button (click)="onSubmit()" type="submit">Sign up</button>
  
  <div class="sign-up">
    Already have an account? <a routerLink="../login">Sign In</a>
  </div>
</form>