<form>
  <div class="form-group">
    <label>Email address</label>
    <input [(ngModel)]="username" name="username" type="email" />
  </div>
  <div class="form-group">
    <label>Password</label>
    <input [(ngModel)]="password" name="password" type="password" />
  </div>
  <button (click)="onSubmit()" type="submit">
    Sign in
  </button>

  <div class="sign-up">
    Don't have an account? <a routerLink="../register">Create One</a>
  </div>
</form>
