<div id="app">
  <nav class="navbar">
    <a class="title"> Hexachess </a>
    <ul routerLinkActive="active" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a class="link" routerLink="game/overview">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="link" routerLink="game/new">New Game</a>
      </li>
    </ul>

    <ul *ngIf="!isLoggedIn">
      <li class="item">
        <a class="link" routerLink="auth/register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="link" routerLink="auth/login">Login</a>
      </li>
    </ul>

    <ul *ngIf="isLoggedIn">
      <li class="item">
        <a class="link" routerLink="auth/profile">{{ username }}</a>
      </li>
      <li class="item">
        <a class="link" (click)="logOut()">LogOut</a>
      </li>
    </ul>
  </nav>
  <div id="router-outlet">
    <router-outlet></router-outlet>
  </div>
</div>
