<div>
  <div class="qr-code" *ngIf="qrCode">
    <h2>Scan the qr code with your authenicator app</h2>
    <img src="{{ qrCode }}"/>
    <h3 >Or copy the following secret:</h3>
    <span>{{ secret }}</span>
  </div>
  <form>
    <h2>Enter your two factor authentication code</h2>
    <div class="form-group">
      <label for="code">Code</label>
      <input [(ngModel)]="code" name="code" type="text" />
    </div>
    <button (click)="onSubmit()" type="submit">Submit</button>
  </form>
</div>
