<div class="dashboard">
  <div class="game" *ngFor="let game of gameList">
    <span>gamemode: {{ game.mode }}</span
    ><br />
    <span *ngFor="let user of game.players">{{ user.username }}</span
    ><br />
    <span>started: {{ game.dateStart }}</span
    ><br />
    <span>duration: {{ game.dateStart - game.dateEnd }}</span
    ><br />
    <span>moves: {{ game.moves.length }}</span
    ><br />
    <span *ngIf="game.winner">winner: {{ game.winner }}</span
    ><br />
    <button routerLink="../game/id/{{ game.id }}">open game</button><br />
    <button (click)="remove(game.id)">remove from dashboard</button><br />
  </div>
</div>
