<div *ngIf="game">
  <div>
    <span>id: {{ game.id }}</span
    ><br />
    <span>mode: {{ game.mode }}</span
    ><br />
    <span>dateStart: {{ game.dateStart }}</span
    ><br />
    <span>dateEnd: {{ game.dateEnd }}</span
    ><br />
    <span>moves: {{ game.moves.length }}</span
    ><br />
    <div *ngFor="let move of game.moves">
      <span>placed by: {{ move.player.username }}</span
      ><br />
      <span>oldX: {{ move.oldX }}</span>
      <span>oldY: {{ move.oldY }}</span>
      <span>newX: {{ move.newX }}</span>
      <span>newY: {{ move.newY }}</span
      ><br />
    </div>
    <span>players: </span>
    <div *ngFor="let player of game.players">
      <span>{{ player.username }}</span>
    </div>
    <br />
    <span *ngIf="game.dateEnd">{{ game.winner }}</span>
  </div>
  <form #moveForm="ngForm">
    <div class="form-group">
      <label>oldX</label>
      <input [(ngModel)]="oldX" name="oldX" type="number" />
    </div>
    <div class="form-group">
      <label>oldY</label>
      <input [(ngModel)]="oldY" name="oldY" type="number" />
    </div>
    <div class="form-group">
      <label>newX</label>
      <input [(ngModel)]="newX" name="newX" type="number" />
    </div>
    <div class="form-group">
      <label>newY</label>
      <input [(ngModel)]="newY" name="newY" type="number" />
    </div>
    <button (click)="onSubmit(moveForm)" type="submit">Place Move</button>
  </form>
</div>
